<template>
  <div>
    <div ref="dustCharts"
         :id="id"
         :style="{width: chartWidth,height: chartHeight}"
    ></div>
  </div>
</template>

<script>
  import echarts from 'echarts'
  import {debounce} from 'lodash'

  const MOUSE_EVENTS = [
    'click',
    'dblclick',
    'mouseover',
    'mouseout',
    'mousedown',
    'mouseup',
    'globalout'
  ]

  export default {
    props: {
      options: {
        type: Object,
        default: () => ({
          type: 'line',
          titleText: 'eCharts',
          subText: '',
          yText: 'y-text',
          autoResize: true,
          tipFormatter: ''
        })
      },
      chartData: {
        type: Array,
        default: () => ([])
      }
    },
    watch: {
      chartData(val) {
        console.log(val)
        this.drawChart()
      }
    },
    data() {
      return {
        id: this.onlyId(),
        chartWidth: '',
        chartHeight: ''
      }
    },
    methods: {
      onlyId() {
        return (Math.random() * 10000000).toString(16).substr(0, 4) + '-' + (new Date()).getTime() + '-' + Math.random().toString().substr(2, 5)
      },
      initWidthAndHeight() {
        this.chartWidth = `${this.options.width && document.body.offsetWidth * this.options.width}px`
        this.chartHeight = `${this.options.height && document.body.offsetHeight * this.options.height}px`
        console.log('canvas宽度', this.chartWidth)
        console.log('canvas高度', this.chartHeight)
      },
      lineOption() {
        return {
          title: {
            text: this.options.titleText,
            subtext: this.options.subText,
            x: this.options.titleX || 'center',
            textStyle: {
              fontSize: 13
            }
          },
          tooltip: {
            trigger: 'axis',
          },
          grid: {
            x: '55px',
            y: '30px',
          },
          xAxis: {
            type: 'category',
            data: this.chartData[0],
            name: this.options.xName
          },
          yAxis: {
            type: 'value',
            name: this.options.yName
          },
          series: [
            {
              data: this.chartData[1],
              type: 'line'
            }
          ]
        }
      },
      barOption() {
        return {
          title: {
            text: this.options.titleText,
            subtext: this.options.subText,
            x: this.options.titleX || 'center',
            textStyle: {
              fontSize: 13
            }
          },
          color: ['#9571e9'],
          tooltip: {
            trigger: 'axis',
            axisPointer: {
              // 坐标轴指示器，坐标轴触发有效
              type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
            },
            formatter: this.options.tipFormatter || '{a} <br/>{b} : {c} ({d}%)'
          },
          grid: {
            left: '4%',
            right: '10%',
            bottom: '3%',
            containLabel: true
          },
          xAxis: [
            {
              type: 'category',
              data: this.chartData[0],
              axisTick: {
                alignWithLabel: true
              },
              name: this.options.xName
            }
          ],
          yAxis: [
            {
              type: 'value',
              name: this.options.yName
            }
          ],
          series: [
            {
              name: this.options.yText || '提货耗时',
              type: 'bar',
              barWidth: '30%',
              data: this.chartData[1]
            }
          ]
        }
      },
      pieOption() {
        return {
          title: {
            text: this.options.titleText,
            subtext: this.options.subText,
            x: 'right'
          },
          tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c} ({d}%)'
          },
          legend: {
            orient: 'vertical',
            left: 'left',
            data: this.xAxisData
          },
          series: [
            {
              name: '访问来源',
              type: 'pie',
              radius: '55%',
              center: ['50%', '60%'],
              data: this.options.pieData,
              itemStyle: {
                emphasis: {
                  shadowBlur: 10,
                  shadowOffsetX: 0,
                  shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
              }
            }
          ]
        }
      },
      drawChart() {
        let chart = echarts.init(document.getElementById(this.id))
        if (chart === undefined) {
          console.error(`echarts init dom id ${this.id} failed`)
        }
        switch (this.options.type) {
          case 'line':
            chart.setOption(this.lineOption(), true)
            break
          case 'bar':
            chart.setOption(this.barOption(), true)
            break
          case 'pie':
            chart.setOption(this.pieOption(), true)
            break
          default:
            console.log(`chartType ${this.options.type} is invalid`)
            break
        }
        if (chart) {
          this._resizeHanlder = debounce(() => {
            this.initWidthAndHeight()
            setTimeout(() => {
              chart.resize()
            }, 20)
          }, 200)
          window.addEventListener('resize', this._resizeHanlder)
        }
        MOUSE_EVENTS.forEach(event => {
          chart.on(event, params => {
            this.$emit(event, params)
          })
        })
      }
    },
    created() {
      this.initWidthAndHeight()
    },
    mounted() {
      this.drawChart()
    },
    beforeDestroy() {
      window.removeEventListener('resize', this._resizeHanlder)
    }
  }
</script>

<style lang='scss' scoped>

</style>
