<template>
  <div>
    <div v-if="row._type === 'edit'">
      <el-input
        v-if="column.type === 'text'"
        v-model="text"
        clearable
        :disabled="setDisabled(column, row)"
        :maxlength="column.maxlength"
        :minlength="column.minlength"
        :placeholder="column.placeholder"
        @clear="clearEdit(rIndex, row, column)"
        @change="inputChange(rIndex, row, column)"
        @blur="inputBlur(rIndex, row, column)"
      />
      <el-select
        v-if="column.type === 'select'"
        v-model="text"
        clearable
        :disabled="setDisabled(column, row)"
        :placeholder="column.placeholder"
        @clear="clearEdit(rIndex, row, column)"
        @change="inputChange(rIndex, row, column)"
        @blur="inputBlur(rIndex, row, column)"
      >
        <el-option
          v-for="(item, i) in column.options"
          :key="i"
          :label="item.label"
          :value="item.value"
        />
      </el-select>
    </div>
    <div v-if="row._type === 'notEdit'"><span>{{ val }}</span></div>
  </div>
</template>

<script>
export default {
  name: 'EditContent',
  props: {
    column: {
      type: Object,
      default: () => ({})
    },
    row: {
      type: Object,
      default: () => ({})
    },
    val: {
      type: [Number, String, Array, Object, Boolean],
      default: () => ('')
    },
    rIndex: {
      type: Number,
      default: () => (0)
    }
  },
  data() {
    return {
      text: ''
    }
  },
  watch: {
    val(val) {
      console.log(val)
      this.changeText()
    },
    row(val) {
      console.log(val)
    }
  },
  created() {
    console.log('val', this.val)
    console.log('column', this.column)
    console.log('row', this.row)
  },
  mounted() {
    this.changeText()
  },
  methods: {
    setDisabled(col, row) {
      if (col.disabled && typeof col.disabled === 'function') {
        return col.disabled(row)
      }
      return !!col.disabled
    },
    clearEdit(index, row, column) {
      column.clear && column.clear(index, row, column)
    },
    changeText() {
      this.text = this.row[this.column.prop]
    },
    inputChange(index, row, column) {
      let text = this.text
      if (typeof text === 'string') text = text.trim()
      this.$emit('inputChange', { index, column, text })
    },
    inputBlur(index, row, column) {
      column.blur && column.blur(index, row, this.text)
    }
  }
}
</script>

<style lang='scss' scoped>

</style>
