<template>
  <div class="edit-table">
    <el-table
      ref="editTable"
      :data="tableData"
      border
    >
      <el-table-column
        v-for="(col, index) in columnConfig"
        :key="index"
        :fixed="col.fixed"
        :prop="col.prop"
        :label="col.label"
        :width="col.width"
        :render-header="col.renderHeader"
      >
        <template slot-scope="scope">
          <edit-content
            :row="scope.row"
            :r-index="scope.$index"
            :column="col"
            :val="scope.row[col.prop]"
          />
        </template>
      </el-table-column>
      <slot name="right" />
    </el-table>
  </div>
</template>
<script>
import EditContent from './edit-content'
const uuid = Math.random().toString(36).substr(2) + Math.random().toString(36).substr(2)
export default {
  components: { EditContent },
  props: {
    data: {
      type: Array,
      default: () => ([])
    },
    columns: {
      type: Array,
      default: () => ([])
    }
  },
  data() {
    return {
      random: Math.random(),
      colIndex: 0,
      tableData: [],
      cacheData: [],
      originData: [],
      columnConfig: []
    }
  },
  watch: {
    data(val) {
      this.initCacheData(val)
    },
    row(val) {
      console.log(val)
    }
  },
  created() {
    this.columnConfig = this.columns
    this.initCacheData(this.data)
  },
  methods: {
    inputChange(val) {
      const { index, column, text } = val
      console.log(index, column, text)
      const _currentRow = this.tableData[index]
      _currentRow[column.key] = text
      column.change && column.change(index, _currentRow, text)
    },
    initCacheData(data) {
      let index = 0
      this.originData = JSON.parse(JSON.stringify(data))
      this.tableData = []
      this.cacheData = []
      for (const item of data) {
        if (!item._uuid) {
          item._uuid = uuid
          item._index = index
          item._type = 'notEdit'
          this.cacheData.push(item)
          this.tableData.push(item)
          console.log(this.tableData)
          index += 1
        }
      }
    },
    async saveData(index, row) {
      if (row._isNew) {
        row._isNew = false
      }
      Object.keys(row).forEach(k => {
        this.cacheData[index][k] = this.tableData[index][k]
      })
    },
    addRow(row) {
      const index = this.tableData.length
      row._isNew = true
      row._index = index
      this.cacheData.push(row)
      this.tableData.push(row)
    },
    cancelEditRow(index, row) {
      if (row._isNew) {
        this.delRow(index)
        return
      }
      Object.keys(row).forEach(k => {
        this.tableData[index][k] = this.cacheData[index][k]
      })
      this.tableData[index]._type = 'notEdit'
    },
    delRow(index) {
      this.tableData.splice(index, 1)
      this.cacheData.splice(index, 1)
      this.resetIndex()
    },
    resetIndex() {
      for (let i = 0, len = this.tableData.length; i < len; i++) {
        this.cacheData[i]._index = i
        this.tableData[i]._index = i
      }
    },
    // 获取双向绑定值
    getTbaleData() {
      return this.tableData
    },
    // 获取双向绑定的值
    getRealData() {
      const data = JSON.parse(JSON.stringify(this.tableData))
      return data.map(k => {
        delete k._type
        delete k._index
        return k
      })
    },
    editRow(index, row) {
      console.log(index, row)
      this.tableData[index]._type = 'edit'
    }
  }
}
</script>

<style lang="scss">
</style>
