html, body {
  margin: 0;
  padding: 0;
}


.box1 {
  display: flex;
  width: 100px;
  height: 100px;
  background: url('./assets/angular.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.box2 {
  width: 200px;
  height: 200px;
  background: url('./assets/react.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}


.box3 {
  width: 300px;
  height: 300px;
  background: url('./assets/vue.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}