* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: bold 20px "Courier";
}

#main {
  width: 360px;
  height: 420px;
  background: #b7d4a8;
  border: 10px solid #000;
  border-radius: 10px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#stage {
  width: 304px;
  height: 304px;
  border: 2px solid #000;
  position: relative;
  #snake {
    &>div {
      width: 10px;
      height: 10px;
      position: absolute;
      background: #000;
      border: 1px solid #b7d4a8;
      &:first-child {
        background: orangered;
      }
    }
  }
  #food {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 40px;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    &>div {
      background: #000;
      width: 4px;
      height: 4px;
      transform: rotate(45deg);
    }
  }
}

#score-panel {
  width: 300px;
  display: flex;
  justify-content: space-between;
}