<template>
  <el-form-item
  :prop="item.prop"
  :label="item.label"
  :rules="item.rules"
  >
    <el-input
      v-if="item.type === 'text'"
      :style="item.width ? {width: item.width}: null"
      :disabled="disabled(item)"
      :placeholder="item.placeholder"
      v-bind="bindAttr"
      :value="bindValue(item.prop)"
      @input="bindChange">
    </el-input>
    <el-select
     v-else-if="item.type === 'select'"
     :style="item.width ? {width: item.width}: null"
     :disabled="disabled(item)"
     :placeholder="item.placeholder"
     :multiple="item.multiple"
     collapse-tags
     default-first-option
     v-bind="bindAttr"
     :value="bindValue(item.propertyName)"
     @input="bindChange">
      <el-option
        v-for="(opt, i) in item.options"
        :key="opt.value + i"
        :label="opt.label || ' '"
        :value="opt.value"
      >
      </el-option>
    </el-select>
    <el-select
            v-else-if="item.type === 'remoteSelect'"
            :style="item.width ? {width: item.width}: null"
            :disabled="disabled(item)"
            :placeholder="item.placeholder"
            :multiple="item.multiple"
            collapse-tags
            default-first-option
            filterable
            remote
            :remote-method="item.remoteMethod"
            :loading="item.loading"
            v-bind="bindAttr"
            :value="bindValue(item.propertyName)"
            @input="bindChange">
      <el-option
              v-for="(opt, i) in item.options"
              :key="opt.value + i"
              :label="opt.label || ' '"
              :value="opt.value"
      >
      </el-option>
    </el-select>
    <el-autocomplete
      v-else-if="item.type === 'autocomplete'"
      popper-class="dust-popper-auto"
      :style="item.width ? {width: item.width}: null"
      :disabled="disabled(item)"
      :placeholder="item.placeholder"
      v-bind="bindAttr"
      :value="bindValue(item.propertyName)"
      @input="bindChange"
      :fetch-suggestions="fetchSuggestions"
      @select="bindSelect"
    >
    </el-autocomplete>
    <el-date-picker
            v-else-if="item.type === 'datePicker'"
            :style="item.width ? {width: item.width}: null"
            :disabled="disabled(item)"
            :placeholder="item.placeholder"
            :type="item.dateType || 'date'"
            :format="item.format || 'yyyy-MM-dd'"
            :value-format="item.valueFormat || 'yyyy-MM-dd HH:mm:ss'"
            v-bind="bindAttr"
            :value="bindValue(item.propertyName)"
            @input="bindChange"
    >
    </el-date-picker>
  </el-form-item>
</template>

<script>
import { type } from 'os';
export default {
  name: 'form-item',
  props: {
    item: Object,
    model: Object
  },
  data() {
    return {
    }
  },
  computed: {
    bindAttr () {
      return { clearable: !this.item.required }
    }
  },
  methods: {
    disabled (item) {
      if (typeof item.disabled === 'function') {
        const obj = {key: item.prop, model: this.model}
        return item.disabled(obj)
      }
      return !!item.disabled
    },
    bindValue (key) {
      return this.model[key]
    },
    bindChange (value, opt = this.item) {
      if (value && typeof value === 'string') {
        value = value.trim()
      }
      opt.change && opt.change({ key: opt.prop, value, model: this.model })
    },
    bindSelect (value) {
      let key = this.item.prop
      this.item.select && this.item.select({ key, value, model: this.model })
    },
    async remoteSelectMethod (val, v) {
      val = (val && val.trim()) || ''
      if (val && typeof v.remoteMethod === 'function') {
        v.loading = true
        let arr = await v.remoteMethod(val)
        v.loading = false
        if (!arr || !arr.length) {
          v.options = []
          return Promise.resolve(v.options)
        }
        if (typeof arr[0] === 'object') {
          v.labelKey && v.valueKey && arr.forEach(k => {
            k.label = k[v.labelKey]
            k.value = k[v.valueKey]
          })
        } else {
          arr = arr.map(k => ({ label: k, value: k }))
        }
        v.options = arr
        return Promise.resolve(v.options)
      }
      v.options = []
      return Promise.resolve(v.options)
    },
    async fetchSuggestions (val, cb) {
      let arr = await this.remoteSelectMethod(val, this.item)
      cb(arr)
    }
  }
 }
</script>

<style lang="" scoped>
  .form-item{

  }
</style>
