<template>
  <el-form
      ref="queryForm"
      inline
      :model="model">
    <template v-for="item in formFields">
      <form-item
         :key="item.prop"
         :model="model"
         :item="item">
      </form-item>
    </template>
    <el-button type="primary"
                @click="onSubmit">查询(Q)
    </el-button>
  </el-form>
</template>

<script>
  export default {
    props: {
      formFields: {
        type: Array,
        default: () => ([])
      },
      model: {
        type: Object,
        default: () => ({})
      }
    },
    data () {
      return {}
    },
    methods: {
      onSubmit () {
        this.$emit('submit', this.model)
      }
    }
  }
</script>

<style lang='scss' scoped>

</style>
